force-app/main/default/flows/Create_Recurring_WorkOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Trigger OptimoRouteBatchClass</description>
        <name>Call_Optimo_Batch_Class</name>
        <label>Call Optimo Batch Class</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>OptimoRouteBatchClass</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>OptimoRouteBatchClass</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>sendNotificationForOriginalWO</name>
        <label>sendNotificationForOriginalWO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Completed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>emailIds</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;{!emailBody}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Email_Ids</name>
        <label>Assign Email Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>emailIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_List_Of_Email_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_List_Of_Email_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Failed_WO_Values</name>
        <label>Failed WO Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newWORecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Ready</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWORecord.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originalWORecord.Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWORecord.ParentWorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originalWORecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWORecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originalWORecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWORecord.Services_Needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originalWORecord.Services_Needed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWORecord.Order_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOrderDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWORecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originalWORecord.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_User_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Rejected_WO_Values</name>
        <label>New Rejected WO Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newWORecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWORecord.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originalWORecord.Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWORecord.ParentWorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originalWORecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWORecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originalWORecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWORecord.Services_Needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originalWORecord.Services_Needed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWORecord.Order_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOrderDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWORecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originalWORecord.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the newWO record variable to newWORecord, and then sets newWORecord’s record ID to an empty string.</description>
        <name>Set_New_WO_Values</name>
        <label>Set New WO Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newWORecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWORecord.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWORecord.ParentWorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originalWORecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWORecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originalWORecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWORecord.Services_Needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originalWORecord.Services_Needed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWORecord.Order_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWORecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originalWORecord.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Completed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Completed</name>
        <label>Check Completed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_WO_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Post_Creation_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>originalWORecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Date_SN</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_WO_Values</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Rejected_WO_Values</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
        <rules>
            <name>Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Failed_WO_Values</targetReference>
            </connector>
            <label>Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Users_Exists</name>
        <label>Check Users Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Emails.listOfEmailIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_List_Of_Email_Ids</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <description>Create Recurring WorkOrders for Statuses Completed/Failed/Rejected</description>
    <environments>Default</environments>
    <formulas>
        <name>forBaseURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <formulas>
        <name>forLinkAccount</name>
        <dataType>String</dataType>
        <expression>{!forBaseURL}&amp;{!originalWORecord.AccountId}</expression>
    </formulas>
    <formulas>
        <name>forLinkServiceNeeded</name>
        <dataType>String</dataType>
        <expression>{!forBaseURL} &amp; {!originalWORecord.Services_Needed__c}</expression>
    </formulas>
    <formulas>
        <name>forLinkWorkOrder</name>
        <dataType>String</dataType>
        <expression>{!forBaseURL}&amp;{!originalWORecord.Id}</expression>
    </formulas>
    <formulas>
        <name>newDueDate</name>
        <dataType>Date</dataType>
        <expression>{!originalWORecord.Optimo_Date__c} + {!originalWORecord.Services_Needed__r.Frequency_Days__c}</expression>
    </formulas>
    <formulas>
        <name>newOrderDate</name>
        <dataType>Date</dataType>
        <expression>{!originalWORecord.Optimo_Date__c} + 1</expression>
    </formulas>
    <formulas>
        <name>serviceNeededRecordType</name>
        <dataType>String</dataType>
        <expression>CASE(
{!originalWORecord.Services_Needed__r.RecordType.DeveloperName},
&quot;Grease_Trap&quot;, &quot;IGT&quot;,
&quot;Drain_Cleaning&quot;, &quot;HYD&quot;,
&quot;Interceptor&quot;, &quot;EGT&quot;,
&quot;Used_Cooking_Oil&quot;, &quot;UCO&quot;,
&quot;Waste_Run&quot;,&quot;WR&quot;,
&quot;&quot;
)</expression>
    </formulas>
    <interviewLabel>Create Recurring WorkOrder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Recurring WorkOrder</label>
    <loops>
        <name>Iterate_List_Of_Email_Ids</name>
        <label>Iterate List Of Email Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_User_Emails.listOfEmailIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Email_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>sendNotificationForOriginalWO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_WO_Record</name>
        <label>Create WO Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Call_Optimo_Batch_Class</targetReference>
        </connector>
        <inputReference>newWORecord</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Service_Date_SN</name>
        <label>Update Service Date SN</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_WO_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>originalWORecord.Services_Needed__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>newDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Collected_Gallons__c</field>
            <value>
                <elementReference>originalWORecord.Collected_Gallons__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Completed_Date__c</field>
            <value>
                <elementReference>originalWORecord.Optimo_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Services_Needed__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_User_Emails</name>
        <label>Get User Emails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Users_Exists</targetReference>
        </connector>
        <flowName>Get_User_Emails_From_Group</flowName>
        <inputAssignments>
            <name>groupName</name>
            <value>
                <stringValue>Admin_Users</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello Team,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is an automated notification to inform you that Work Order # &lt;a href=&quot;{!forLinkWorkOrder}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!serviceNeededRecordType}-{!originalWORecord.WorkOrderNumber}&lt;/strong&gt;&lt;/a&gt; for &lt;a href=&quot;{!forLinkAccount}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!originalWORecord.Account.Name}&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt; &lt;/strong&gt;was marked as &lt;strong&gt;{!originalWORecord.Status}&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Notes captured:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!originalWORecord.Driver_Notes__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review the record and take any necessary next steps.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;Salesforce Admin&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!originalWORecord.Status}: WO {!originalWORecord.WorkOrderNumber}</text>
    </textTemplates>
    <variables>
        <name>emailIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the field values of the original wo record and is available as output from the flow.</description>
        <name>newWORecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <description>Stores a wo record that contains the field values of the original wo record, and is passed into the flow.</description>
        <name>originalWORecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
