force-app/main/default/flows/Lead_Record_Triggered_After_Save_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_AccountId_and_ContactId</name>
        <label>Assign AccountId and ContactId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Needed_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Oppty_Id_on_SN</name>
        <label>Assign Oppty Id on SN</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Iterate_SN_Records.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Oppty_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_SN_Records.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Oppty_Records.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SN_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SN_Records</name>
        <label>Assign SN Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UpdateSNRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_SN_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_SN_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Service_Needed</name>
        <label>Count of Service Needed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>countOfSN</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>greaseTrapSNRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Shipping_Same_as_Billing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GreaseTrap_Records</name>
        <label>GreaseTrap Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>greaseTrapSNRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Grease_Trap_SN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Grease_Trap_SN</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Create_Update</name>
        <label>Check Create/Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Create</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Converted</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Account_Number</name>
        <label>Check for Account Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Iterate_SN_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Number_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppServiceNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_SN_Records.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_SN_Records.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_SN_Records.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Oppty_Id_on_SN</targetReference>
            </connector>
            <label>Account Number Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Update_SN_Records</name>
        <label>Check for Update SN Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SN_Records_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateSNRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SN_Records</targetReference>
            </connector>
            <label>SN Records Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Grease_Trap_SN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Grease_Trap</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Grease_Trap_SN.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grease Trap</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GreaseTrap_Records</targetReference>
            </connector>
            <label>Grease Trap</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Shipping_Same_as_Billing</name>
        <label>Check Shipping Same as Billing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Same_Update_Account_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Same</defaultConnectorLabel>
        <rules>
            <name>Not_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Same_as_Billing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Record</targetReference>
            </connector>
            <label>Not Same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Converted</name>
        <label>Is Converted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AccountId_and_ContactId</targetReference>
            </connector>
            <label>Converted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>OppServiceNumber</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Iterate_Oppty_Records.Name},7)</expression>
    </formulas>
    <formulas>
        <name>OpptyAccountNumber</name>
        <dataType>Boolean</dataType>
        <expression>IF(RIGHT({!Iterate_Oppty_Records.Name},18)={!Iterate_SN_Records.Account_Number__c}, true, false)</expression>
    </formulas>
    <formulas>
        <name>pocFullName</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName}+&apos; &apos;+{!$Record.LastName}</expression>
    </formulas>
    <interviewLabel>Lead Record Triggered After Save Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Record Triggered After Save Create/Update</label>
    <loops>
        <name>Get_Grease_Trap_SN</name>
        <label>Get Grease Trap SN</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Service_Needed_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Record_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_of_Service_Needed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Oppty_Records</name>
        <label>Iterate Oppty Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Opportunity_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Iterate_SN_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Update_SN_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_SN_Records</name>
        <label>Iterate SN Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Service_Needed_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Account_Number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Oppty_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity_Records</name>
        <label>Create Opportunity Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Records</targetReference>
        </connector>
        <inputReference>Transform_SN_to_OPP</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Records</name>
        <label>Get Opportunity Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Oppty_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Needed_Records</name>
        <label>Get Service Needed Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Grease_Trap_SN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Services_Needed__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Same_Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Transform_SN_to_OPP</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <elementReference>$Record.Account_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingLatitude</field>
            <value>
                <elementReference>$Record.Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingLongitude</field>
            <value>
                <elementReference>$Record.Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Email__c</field>
            <value>
                <elementReference>$Record.Billing_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>County__c</field>
            <value>
                <elementReference>$Record.County__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>pocFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Notes__c</field>
            <value>
                <elementReference>$Record.Internal_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Check_in_Time__c</field>
            <value>
                <elementReference>$Record.Check_in_Time_Mins__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Notes__c</field>
            <value>
                <elementReference>$Record.Location_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notification_Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notification_Phone_Number__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notification_Preference__c</field>
            <value>
                <elementReference>$Record.Notification_Preference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_GRDs__c</field>
            <value>
                <elementReference>countOfSN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingLatitude</field>
            <value>
                <elementReference>$Record.Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingLongitude</field>
            <value>
                <elementReference>$Record.Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Transform_SN_to_OPP</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <elementReference>$Record.Account_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingLatitude</field>
            <value>
                <elementReference>$Record.Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingLongitude</field>
            <value>
                <elementReference>$Record.Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Email__c</field>
            <value>
                <elementReference>$Record.Billing_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>County__c</field>
            <value>
                <elementReference>$Record.County__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>pocFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Notes__c</field>
            <value>
                <elementReference>$Record.Internal_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Check_in_Time__c</field>
            <value>
                <elementReference>$Record.Check_in_Time_Mins__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Notes__c</field>
            <value>
                <elementReference>$Record.Location_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notification_Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notification_Phone_Number__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notification_Preference__c</field>
            <value>
                <elementReference>$Record.Notification_Preference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_GRDs__c</field>
            <value>
                <elementReference>countOfSN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.Shipping_Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.Shipping_Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingLatitude</field>
            <value>
                <elementReference>$Record.Shipping_Address__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingLongitude</field>
            <value>
                <elementReference>$Record.Shipping_Address__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.Shipping_Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>$Record.Shipping_Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>$Record.Shipping_Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SN_Records</name>
        <label>Update SN Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>UpdateSNRecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Create_Update</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_SN_to_OPP</name>
        <label>Transform SN to OPP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Opportunity_Records</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Opportunity</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>CloseDate</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Date</formulaDataType>
                    <formulaExpression>TODAY() + 30</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>&apos;Opportunity_&apos;+{!Get_Service_Needed_Records[$EachItem].Name}</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>StageName</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>Qualification</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>AccountId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>AccountId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ContactId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>ContactId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Amount</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Service_Needed_Records[$EachItem].Rate__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>countOfSN</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>greaseTrapSNRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Services_Needed__c</objectType>
    </variables>
    <variables>
        <name>UpdateSNRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Services_Needed__c</objectType>
    </variables>
</Flow>
