force-app/main/default/flows/LWC_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_OptomoRoute_Batch_Apex_Class</name>
        <label>Call OptomoRoute Batch Apex Class</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>OptimoRouteBatchClass</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>OptimoRouteBatchClass</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>NumberOfWorkOrders</name>
        <label>NumberOfWorkOrders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>readyWorkOrderCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_WorkOrder_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_WorkOrder_Screen</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Batch_Job_Execution_Disabled</name>
        <label>Check Batch Job Execution Disabled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_WorkOrder_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OptimoRoute_Batch_Settings.Disable_Batch_Job_Execution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OptimoRoute_Batch_Disabled_Screen</targetReference>
            </connector>
            <label>Disabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WorkOrders_Exist</name>
        <label>Check WorkOrders Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_WorkOrder_Records_Exist_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WorkOrder_Records</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NumberOfWorkOrders</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>roundOffWOCount</name>
        <dataType>Number</dataType>
        <expression>ROUND({!readyWorkOrderCount},0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>LWC Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LWC Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_OptimoRoute_Batch_Settings</name>
        <label>Get OptimoRoute Batch Settings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Batch_Job_Execution_Disabled</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OptimoRoute_Batch_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkOrder_Records</name>
        <label>Get WorkOrder Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WorkOrders_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_OptimoRoute_Batch_Settings.Last_Batch_Job_Executed__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>No_WorkOrder_Records_Exist_Screen</name>
        <label>No WorkOrder Records Exist Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoNewWorkOrders</name>
            <fieldText>&lt;p&gt;No New Work Orders have entered the &apos;Ready&apos; state since the last batch execution.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OptimoRoute_Batch_Disabled_Screen</name>
        <label>OptimoRoute Batch Disabled Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>BatchDisabledText</name>
            <fieldText>&lt;p&gt;Integration to OptimoRoute is Disabled, Please check with your System Administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Valid_WorkOrder_Screen</name>
        <label>Valid WorkOrder Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Call_OptomoRoute_Batch_Apex_Class</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_BatchDisabledText</name>
            <fieldText>&lt;p&gt;There are &lt;strong&gt;{!roundOffWOCount} &lt;/strong&gt;WorkOrders in &apos;Ready&apos; status. Please click the &lt;strong&gt;Sync WorkOrders &lt;/strong&gt;button to begin the Sync process in OptimoRoute.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Sync WorkOrders</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_OptimoRoute_Batch_Settings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>readyWorkOrderCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
