force-app/main/default/flows/Work_Order_Before_Save_Triggered_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_SN_Field_Values</name>
        <label>Assign SN Field Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Allowed_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Allowed_Days__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Alarm_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Alarm_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Door_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Door_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Duration_In_Mins__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Duration_In_Mins__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Order_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Order_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Skills__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Skills__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Vehicle_Features__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Vehicle_Features__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Volume__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Rebate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Rebate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Primary_Time_Window_From__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Primary_Time_Window_From__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Primary_Time_Window_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Primary_Time_Window_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Secondary_Time_Window_From__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Secondary_Time_Window_From__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Secondary_Time_Window_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Secondary_Time_Window_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Door_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Door_Key__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Connected_Fixture__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Connected_Fixture__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Service_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.GRD_Location_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.GRD_Location_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.GRD_Serial_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.GRD_Serial_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Frequency_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Frequency_Days__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Last_Completed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Last_Completed_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Gallons_Per_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Monthly_Gallons__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Last_Collected_Gallons__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Last_Collected_Gallons__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Number_of_Fryers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Number_of_Fryers__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Oil_Change_Schedule_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Oil_Change_Frequency_Days__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.No_Of_Gallons_Per_Fryer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.UCO_No_Of_Gallons_Per_Fryer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Indoor_Outdoor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Indoor_Outdoor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Container_Size_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Container_Size1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Container_Size_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Container_Size2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Container_Size_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Needed__r.Container_Size3__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Create_Update</name>
        <label>Check Create Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SN_Field_Values</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Status is changed to Ready</description>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_SN_Field_Values</targetReference>
            </connector>
            <label>Ready</label>
        </rules>
    </decisions>
    <description>Set Default values from Service Needed to Work Order</description>
    <environments>Default</environments>
    <formulas>
        <name>isCreate</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Service Needed Before Save Triggered Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order Before Save Triggered Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Create_Update</targetReference>
        </connector>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
