force-app/main/default/flows/WorkOrderCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Default_WO_Values</name>
        <label>Assign Default WO Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>createWorkOrder.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createWorkOrder.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createWorkOrder.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createWorkOrder.Services_Needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Needed_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createWorkOrder.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Needed_Records.Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createWorkOrder.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Needed_Records.Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createWorkOrder.Order_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Needed_Records.Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_WO_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WO_To_List</name>
        <label>Assign WO To List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>listOfWorkOrders</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>createWorkOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Needed_Records</targetReference>
        </connector>
    </assignments>
    <description>On Opporturnity Won, Work order is created</description>
    <environments>Default</environments>
    <interviewLabel>WorkOrderCreation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkOrderCreation</label>
    <loops>
        <name>Service_Needed_Records</name>
        <label>Service Needed Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Service_Needed_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Default_WO_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Work_Order_Creation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Work_Order_Creation</name>
        <label>Work Order Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>listOfWorkOrders</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Service_Needed_Records</name>
        <label>Get Service Needed Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Needed_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Services_Needed__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Needed_Records</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>createWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>listOfWorkOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
